[submodule "googletest"]
  path = test/lib/googletest
  url = https://github.com/google/googletest.git
  branch = master
[submodule "bench/lib/google/benchmark"]
	path = bench/lib/google/benchmark
	url = https://github.com/google/benchmark.git
